.contact{
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: url("../images/bg3hd.png");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 60px;
    padding-bottom: 90px;
}
body.night .contact{
    background-color: #000;
    color: #fff;
}
.contact h1{
    font-size: 40px;
    font-weight: normal;
    text-align: center;
}
.contact h1 span{
    color: #ff0054;
    font-size: 50px;
}
.contact p{
    text-align: center;
    line-height: 30px;
}
.contact p a{
    text-decoration: none;
    color: #000;
}
body.night .contact p a{
    color: #fff;
}
.contact .innerDiv{
    position: relative;
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    flex-direction: row;
    flex-wrap: wrap;
}
.contact .container{
    position: relative;
    width: 500px;
}
.contact .container form{
    max-width: 500px;
    background: #fff9;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    padding: 50px 30px;
    backdrop-filter: blur(1px);
}
iframe.maps{
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
}
body.night .contact .container form{
    background: rgba(0,0,0,0.95);
    backdrop-filter: blur(1px);
    box-shadow: 0 0 6px #fff3;
}
.contact .container form h1{
    text-align: left;
    font-size: 28px;
    margin-bottom: 20px;
}
.contact .container form input,
.contact .container form textarea{
    display: block;
    width: 100%;
    margin-bottom: 20px;
    background: #fff !important;
    border: none;
    padding: 10px;
    outline: none;
    border: 1px solid #555;
    font-size: 16px;
    font-weight: 300;
    color: #111;
    resize: none;
    font-family: 'Poppins', sans-serif;
}
body.night .contact .container form input,
body.night .contact .container form textarea{
    background: #0008 !important;
    color: #fff8 !important;
}
.contact .container form button{
    position: relative;
    display: inline-block;
    padding: 8px 25px;
    outline: none;
    border: none;
    background: none;
    border: 1.5px solid #ff0054;
    color:  #ff0054;
    transition: 0.5s;
    cursor: pointer;
    font-weight: 400;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    letter-spacing: 3px;
}
.contact .container form button:hover{
    background: #ff0054;
    color: #fff;
}
/* Make Contact Responsive */
@media screen and (max-width:750px){
    #contact > section > div{
        padding: 0;
    }
    #contact > section > div > form{
        width: 80%;
        display: block;
        margin: 0 auto;
    }
}
@media screen and (max-width:510px){
    #contact > section > div > form{
        width: 100%;
        padding: 30px 15px;
    }
}

copyright{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    background: #0002;
}
copyright p{
    line-height: 35px;
}
body.night copyright{
    background: #000;
    color: #fff8;
    border-top: 2px solid #fff1;
}
@media screen and (max-width:490px){
    copyright{
        height: 60px;
    }
    copyright p{
        font-size: 14px;
        line-height: 18px;
        width: 90%;
        text-align: center;
    }
}
#contact >.innerDiv > div > form > div{
    background: #fff !important;
}
body.night #contact > div > form  div{
    background: #000 !important;
}

@media screen and (max-width : 1300px){
    /* .contact .innerDiv{
        flex-direction: column;
    } */
    .contact .innerDiv >.container{
        margin-bottom: 50px;
    }
    .contact .innerDiv >iframe.maps{
        width: 500px;
    }
}

@media screen and (max-width : 710px){
    .contact .innerDiv >iframe.maps{
        width: 80% !important;
    }
} 
@media screen and (max-width : 500px){
    .contact .innerDiv >iframe.maps{
        width: 90% !important;
        height: 350px !important;
    }
} 
@media screen and (max-width : 350px){
    .contact .innerDiv >iframe.maps{
        width: 90% !important;
        height: 250px !important;
    }
}